<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HARVEST EDGE</title>
    <link rel="stylesheet" href="../static/style/myhome.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          
        </ul>
      </nav>
    </header>
    <main>
      <h1>HARVEST EDGE</h1>
      <p style="color: black;">
        WE, Welcomes you on our website! Hope you are earning well from your farm.
        But we are here to provide some suggestions about your crop cultivation.
        We recommend which crop you should grow for better yields. It’s very easy to predict which crop you should grow
        based on your soil nutrients. All you need to do is test your soil in a lab.
      </p>

      <br>
      <h3 style="color: black;">Let's Start a New Journey with HarvestEdge</h3>
      <br>
      <h2 style="color: black;">Click the following button for Crop Recommendation</h2>
      
      <form action="/Predict" method="GET">
        <input type="submit" id="Predict" name="Predict" value="Predict">
      </form>
    </main>
  </body>
</html>
